# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.venv/

# VS Code
.vscode/

# Environment variables
.env

# Mac OS files
.DS_Store

# Pytest cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# Local dev artifacts
*.sqlite3
*.db
